/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #f0f0f0;
  background-color: #000000;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 50px;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(8px);
}

.logo img {
  height: 80px;
}

/* Navegador */
nav {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  color: #f0f0f0;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #39ff14;
}

/* Menú hamburguesa */
.menu-toggle {
  display: none;
  font-size: 2rem;
  color: #f0f0f0;
  cursor: pointer;
}

/* Hero */
.hero {
  background: url('../img/hero-bg.jpg') center/cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background: linear-gradient(135deg, #39ff14, #00ff73);
  color: #0d0d0d;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}

/* Packs */
.packs {
  padding: 80px 20px;
  text-align: center;
}

.packs h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #fff;
}

.pack-card {
  max-width: 350px;
  margin: 0 auto;
  background-color: #131212;
  padding: 20px;
  border-radius: 1px;
  box-shadow: 0 0 15px rgba(16, 97, 2, 0.3);
}

.pack-card img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.pack-card h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.pack-card p {
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Footer */
footer {
  background-color: #0e0d0d;
  padding: 20px;
  text-align: center;
  color: #888;
  margin-top: 60px;
}

/* Responsive */
@media (max-width: 768px) {
  header {
    padding: 10px 20px;
  }

  .menu-toggle {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    background: rgba(0,0,0,0.95);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    gap: 20px;
  }

  nav ul.active {
    display: flex;
  }

  .logo img {
    height: 45px;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .btn {
    padding: 10px 25px;
    font-size: 0.95rem;
  }

  .packs h2 {
    font-size: 2rem;
  }

  .pack-card {
    max-width: 90%;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 1.7rem;
  }

  .hero p {
    font-size: 0.95rem;
  }

  .packs h2 {
    font-size: 1.8rem;
  }
}

